
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
    }

    .button {
      width: 150px;
      height: 100px;
      background-color: #000000;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
    }


